.nav {
  height: auto;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .nav__logo {
    position: static;
  }

  .nav__links {
    position: static;
    width: 100%;
    outline: 1px solid lime;
  }
}
