*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .page {
    min-width: 100%;
    max-width: 0;
    width: 100vw;
    outline: 1px solid lime;
  }
}
