.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.reservation__content {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .reservation__content {
    position: static;
    transform: translate(0, 0);
  }

  .reservation__title {
    margin-bottom: 0;
  }
}
